@charset "utf-8";
@import '_jquery';

// 共通
body{
    font-family: 'Yu Gothic';
    line-height: 1.46;
    background: white;
}

img {
    max-width: 100%;
}


.wrapper-big {
    max-width: 100vw;
    margin: 0 auto;
    
}

.content-wrapper {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

h2{
    position: relative;
    font-size:36px;
    display: inline-block;
    // border-bottom-style:solid;
    // margin-bottom:20px;
    margin-top: 120px;
    margin-bottom:80px;
}
h2:before {
    content: '';
    position: absolute;
    left: 50%;

    //bottomは下から上に数える ↑
    //20px:bottomから上に20px
    //-20pxbottomから下に20px
    bottom: -20px;/*線の上下位置*/
    display: inline-block;
    width: 100px;/*線の長さ*/
    height: 3px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: black;/*線の色*/
    border-radius: 2px;/*線の丸み*/
    
  }
  .pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
  }
  .pagetop__arrow {
    display: block;
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
  }
  
.top-button{
    width:100px;
    height:61px;
    background-color: rgb(143, 145, 143);
    color:white;
    font-size:24px;
    
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    //水平方向中央寄せ
    text-align: center;
    //垂直方向中央寄せ
    padding:10px 0;

    z-index: 1001;
    //角丸設定
    border-radius: 10px;
    transition:0.5s ease;
    a{
        color:white;
        text-decoration: none;
    }

    &:hover{
        transform: scale(1.1);
        
    }
}
  
//header
.page-header{
    // block要素自体(ここではheader要素)を中央寄せにする
    // padding:0 10px;
    // margin-bottom:15px;
    // margin-top:50px;
    height:100px;
    display: flex;
    justify-content: space-between;
    .logo{
        // img;
        // display:inline-block;
        
        width:100px;
        // height:100px;
        
        // padding:40px 0;
        margin:40px 0 0 40px;
        // margin-top:50px;
        // margin-bottom:40px;
        img{
            &:nth-child(1) {
                display:inline-block;
                z-index: 1000;
                // opacity: 1;
            }
            &:nth-child(2) {
                display:none;
                z-index: 1000;
                // opacity: 0;
            }

            &.show {
                opacity: 1;
                visibility: visible;

            }
        }
    }
    
    .second-nav{
        width:50%;
        .second-nav_menu_ul{
            display:flex;
            justify-content: space-between;
            list-style: none;
        }
    }
    .humberger{
        // text-align:right;
        // width: 100%;
        // height: 100%;
        //ボタン
        .nav_toggle {
            margin-left:auto;
            background: rgba(255,42,42,1);
            display: block;
            position: relative;
            width: 100px;
            height: 100px;
            z-index: 1000;

            span {
                display: block;
                margin: 0 auto;
                width: 50%;
                height: 1px;
                background-color: rgba(255,255,255,1);
                position: absolute;
                transition: transform .5s, opacity .5s;
            
                &:nth-child(1) {
                    top: 35px;
                    left:25.5px;
                    
                }
                &:nth-child(2) {
                    top: 49px;
                    left:25.5px;
                }
                &:nth-child(3) {
                    top: 63px;
                    left:25.5px;
                }
            }
            &.show span:nth-child(1) {
                transform: translateY(10px) rotate(-45deg);
            }
            &.show span:nth-child(2) {
                opacity: 0;
            }
            &.show span:nth-child(3) {
                transform: translateY(-12px) rotate(45deg);
            }
        }
        .nav{
            // margin-top: 50px;
            position: fixed;
            // top: 3rem;
            top:0;
            left: 0;
            right: 0;
            z-index: 999;
            // width: 100%;
            height: 100%;
            // right: 0;
            // bottom: 0;
            // padding: 1rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s, visibility .5s;
            background: rgba(255,42,42,1);
            // margin:0 auto;
            text-align: center;
            &.show {
                opacity: 1;
                visibility: visible;
            }
            .nav_menu_ul{
                // position: fixed;
                // top: 10rem;
                // left: 50%;
                
                margin-top:150px;
                
                // position:relative;
                .nav_menu_li{
                    list-style: none;
                    // color: white;
                    font-size:16px;
                    font-weight:bold;
                    border-bottom:0;
                    margin:20px 0 ;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                    
                    
                }
                
            }
            .humberger-button {
                width: 250px;
                position: relative;
                text-align: center;
                padding:15px 45px;
                display: block;
                text-decoration: none;
                border: 1px solid white;
                // color: black;
                margin:40px auto;
                // z-index: 0;
                background: rgba(255,42,42,1);
                a{
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                }
                &:hover{
                    background: rgba(255,255,255,1);
                    a{
                        color: rgba(255,42,42,1);
                    }
                    
                }
              }
            .humberger-button::before {
                width: 100%;/*線の長さ*/
                height: 100%;/*線の太さ*/
                position: absolute;
                //bottomは下から上に数える ↑
                //20px:bottomから上に20px
                //-20pxbottomから下に20px
                bottom: -5px;/*線の上下位置*/
                left:5px;
                content: '';
                // -webkit-transform: translateX(-5%);
                // transform: translateX(-5%);/*位置調整*/
                // background-color:rgb(42, 255, 173);/*線の色*/
                border:1px solid white;
                z-index: -1;

            }
                // .humberger-button::before {
                //     width: 1px;/*線の長さ*/
                //     height: 100%;/*線の太さ*/
                //     position: absolute;
                //     //bottomは下から上に数える ↑
                //     //20px:bottomから上に20px
                //     //-20pxbottomから下に20px
                //     top: 5px;/*線の上下位置*/
                //     right:-5px;
                //     content: '';
                //     // -webkit-transform: translateX(-5%);
                //     // transform: translateX(-5%);/*位置調整*/
                //     background-color: white;/*線の色*/
                // }
                
        }
    }
  

      
}

.mainvisual{
    //block要素の中身のインライン要素(img要素)を中央寄せにする
    text-align: right;
    padding:0 10px;
    position:relative;
    // margin-bottom:120px;
    .mainvisual-container{
        position: relative;
        width: 75%;
        height:720px;
        // height:720px;

        margin-left:auto;
        
        img{
            width:100%;
            height:720px;
            object-fit: cover;
            position: absolute;   
            top: 0;
            left: 0; 

        }
        img:nth-child(2) {
            display: none;
        }
        img:nth-child(3) {
            display: none;
        }
    }
    .mainvisual-container::before{
        position: absolute;
        content: '';
        // z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 0px 20px 20px #fff;
    }
    
    .main-span{
        width:30%;
        width: 470px;
        position:absolute;
        top:280px;
        left:135px;
        font-size:46px;
        letter-spacing: 0.1em;
        line-height: 1.6;
        display: block;
        text-align: left;
        font-weight: bold;
    }

    .button{
        width:431px;
        height:61px;
        background-color: rgba(255,0,51,1);
        color:white;
        font-size:24px;
        
        position:absolute;
        top:443px;
        left:135px;
        display: block;
        //水平方向中央寄せ
        text-align: center;
        //垂直方向中央寄せ
        padding:10px 0;

        //角丸設定
        border-radius: 10px;
        transition:0.5s ease;
        a{
            color:white;
            text-decoration: none;
        }

        &:hover{
            transform: scale(1.1);
            
        }
    }
    
}

.reason{
    text-align: center;
    
    .reason-container{
        height:600px;
        background-color: red;
        padding:5% 0;
        .reason-wrapper-part1{
            
            // left: 100%;
            // margin-top:80px;
            // margin-right:auto;
            
            width:50%;
            height:50%;
            
            
            .reason-part1{
                width:100%;
                height:100%;
                padding: 5% 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;   
                // transform: translateX(-100%);    
                //角丸設定
                border-radius: 0 20px 20px 0;
                
                &.init{
                    transform: translateX(-100%);    
                }
                &.fade-in{
                    transition:1s;
                    transform: translateX(0%);    
                }
                
                .image{
                    width:25%;
                    margin-right:30px;
                    
                } 
                .desc{
                    width:75%;
                    text-align: left;
                    
                    h3{
                        font-size:28px;
                        color:red;
                    }
                } 
            }

        }
        .reason-wrapper-part2{
   
            width:50%;
            height:50%;
            
            
            .reason-part2{
                width:100%;
                height:100%;
                padding: 5% 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top:20px;
                // transform: translateX(200%);
                
                background-color: white;   
                display: flex;
                //角丸設定
                border-radius: 20px 0 0 20px;
                // animation: slide-in-anim-from-left 0.5s ease-out forwards;


                &.init{
                    transform: translateX(200%);   
                }
                &.fade-in{
                    transition:1s;
                    transform: translateX(100%);    
                    // animation: slide-in-anim-from-left 0.5s ease-out forwards;
                }
                .image{
                    width:25%;
                    margin-right:30px;
                } 
                .desc{
                    width:75%;
                    text-align: left;
                    h3{
                        font-size:28px;
                        width:100%;
                        color:red;
                    }
                } 
            }
        }
    }

}

.review{
    text-align: center;
    margin-bottom:140px;
    position:relative;
    .review-container{
        width:100%;
        height:142px;
        display: flex;
        margin-top:10px;
        margin-bottom:80px;
        transition: 0.5s;
        
        &.init {
            scale:0;
        }
        &.fade-in {
            scale:1;
        }
        // scale:0;
        // transition:transform 1s;

        // transform: scale(1.1);
        &.left{
            margin-right:auto;
            flex-direction:row;
        }
        &.right{
            margin-left:auto;
            flex-direction:row-reverse;
        }
        .profile-container-left{
            // width:20%;
            margin-right:25px;
            font-size:12px;
            img{
                background-color: rgba(204,204,204,1);
                border-radius: 50%;
                width: 120px;
                height: 120px; 
                object-fit: cover;
            }
        }
        
        .profile-container-right{
            // width:20%;
            margin-left:25px;
            font-size:12px;
            img{
                background-color: rgba(204,204,204,1);
                border-radius: 50%;
                width: 120px;
                height: 120px; 
                object-fit: cover;
            }
        }
        .description-container-left{
            width:60%;
            position: relative;
            background-color: rgba(233,241,251,1);
            padding:20px;
            //角丸設定
            border-radius: 15px;
            font-size:16px;
        }
        .description-container-left:before {

            content: "";
            border: 15px solid transparent;
            border-right: 15px solid #e0edff;
                            
            position: absolute;
            top: 59%;
            left: -15px;
            margin-top: -15px;
            // margin-top: -15px;
            transform: translateX(-50%);

            
          }
        
        .description-container-right{
            width:60%;
            position: relative;
            background-color: rgba(233,241,251,1);
            padding:20px;
            //角丸設定
            border-radius: 15px;
            font-size:16px;
        }
        .description-container-right:before {
            content: "";
            
            border: 15px solid transparent;
            border-left: 15px solid #e0edff;
                            
            position: absolute;
            top: 59%;
            right: -15px;
            margin-top: -15px;
            // margin-top: -15px;
            transform: translateX(50%);
            
            
        }
        
    }
}
.review::after{
    width: 100%;/*線の長さ*/
    height: 1px;/*線の太さ*/
    position: absolute;
    //bottomは下から上に数える ↑
    //20px:bottomから上に20px
    //-20pxbottomから下に20px
    bottom: -80px;/*線の上下位置*/
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: rgba(112,112,112,1);/*線の色*/
}

@keyframes bg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -360px 360px;
    }
  }

.overview{
    // background-color: antiquewhite;
    // width:1400px;
    background-image: url(../images/bg.gif);
    background-size: 50%;
    background-repeat: repeat;
    padding-bottom:60px;
    animation: bg 5s infinite linear;
    .content-wrapper{
        h2{
            margin-top:60px;
        }
        .overview-container{
            width:100%;
            // height:900px;
            // margin-bottom:60px;

            .grid-container{
                width:100%;
                display: grid;
                grid-template-columns: 460px 460px;
                grid-template-rows: 360px 360px;

                .grid-content{
                    margin:30px;
                    padding:60px;
                    background-color: white;
                    text-align: center;
                    //角丸設定
                    border-radius: 20px;
                    h3{
                        font-size:28px;
                        font-weight: bold;
                    }
                    h4{
                        font-size:18px;
                        font-weight: bold;
                    }
                    p{
                        font-size:16px;
                        margin-top:30px;
                    }
                }
            }
        }

    }
}

.trial{
    text-align: center;
    padding:120px 0;
    .trial-part1{
        width:100%;
        font-size:32px;
        font-weight: bold;
    }
    .trial-part2{
        width:100%;
        font-size:18px;
        font-weight: lighter;
    }
    .button{
        background-color: rgba(255,42,42,1);
        width: 100%;
        font-size:24px;
        margin-top:55px;
        padding:15px 293px;
        border-radius: 40px;
        a{
            color:white;
            text-decoration: none
        };
        &:hover{
            background: rgba(255,255,255,1);
            border:solid 1px red;
            a{
                color: rgba(255,42,42,1);
            }
        }
    }
}

.under-menu{
    background-color: rgba(232,232,232,1);
    width:100%;
    .content-wrapper{
        display: flex;
        justify-content: space-between;
        text-align: left;
        
        .menu-content{
            // width:20%;
            // margin-top:20px;
            padding:60px 0;

            p{
                font-size:16px;
                font-weight: bold;
                margin-bottom:10px;
            }
            li{
                list-style: none;
                font-size:16px;
                padding-left:10px;
            }
            
        }
    }
    .footer{
        margin-top:60px;
        text-align: center;
        font-size:10px;
    }
}


footer{
    font-size:10px;
    line-height:1.4;
    padding: 26px 0;
    
  }



/* モバイル版
------------------------------- */
@media (max-width: 900px) {
    

    .mainvisual{
        width: 100%;
        // height:490px;
        display: flex;
        flex-direction: column;
        
        .mainvisual-container{
            position: relative;
            width: 100%;
            height:580px;
    
            margin-left:auto;
            
            img{
                width:100%;
                height:580px;
                object-fit: cover;
                position: absolute;   
                top: 0;
                left: 0; 
    
            }
            
        }
        
        .main-span{
            width:100%;
            // width: 470px;
            position:static;
            
        }
    
        .button{
            width:100%;
            height:61px;
                        
            position:static;
            // top:443px;
            // left:135px;
         
    
            
        }
    }

    .review{
        text-align: center;
        margin-bottom:140px;
        position:relative;
        .review-container{
            width:100%;
            height:auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-top:10px;
            // margin-bottom:80px;
            transition: 0.5s;
            
            &.init {
                scale:0;
            }
            &.fade-in {
                scale:1;
            }
            // scale:0;
            // transition:transform 1s;
    
            // transform: scale(1.1);
            &.left{
                margin-right:auto;
                flex-direction:column-reverse;
            }
            &.right{
                margin-left:auto;
                flex-direction:column-reverse;
            }
            .profile-container-left{
                // width:20%;
                margin: 0 auto;
                font-size:12px;
                img{
                    background-color: rgba(204,204,204,1);
                    border-radius: 50%;
                    width: 120px;
                    height: 120px; 
                    object-fit: cover;
                    margin-top:20px;
                }
            }
            
            .profile-container-right{
                // width:20%;
                margin: 0 auto;
                font-size:12px;
                img{
                    background-color: rgba(204,204,204,1);
                    border-radius: 50%;
                    width: 120px;
                    height: 120px; 
                    object-fit: cover;
                    margin-top:20px;
                }
            }
            .description-container-left{
                width:100%;
                position: relative;
                background-color: rgba(233,241,251,1);

                
                // padding:20px;
                //角丸設定
                border-radius: 15px;
                font-size:16px;
            }
            .description-container-left:before {
                content: "";
                border: 15px solid transparent;
                border-top: 15px solid #e0edff;

                position: absolute;
                // top: 130%;
                z-index: 1;
                top:auto;
                bottom:-30px;
                // left:0;
                left: 50%;
                // margin-top: -15px;

                
                transform: translateX(-50%);
              }
            
            .description-container-right{
                width:100%;
                position: relative;
                background-color: rgba(233,241,251,1);
                // padding:20px;
                //角丸設定
                border-radius: 15px;
                font-size:16px;
            }
            .description-container-right:before {
                content: "";
                border: 15px solid transparent;
                border-top: 15px solid #e0edff;
                position: absolute;
                // top: 130%;
                z-index: 1;
                top:auto;
                bottom:-30px;
                // right:auto;
                right: 50%;
                // margin-top: -15px;
                transform: translateX(50%);
            }
            
        }
    }
    

    .overview{
        .content-wrapper{
            .overview-container{
                .grid-container{
                    grid-template-columns: 100%;
                    grid-template-rows: 360px 360px 360px;
    
                }
            }
    
        }
    }

    
}
